@model KitapciApp.EntityLayer.Kitap
@{
    ViewBag.Title = "Kitap Ekle";
}

<h2>Kitap Ekle</h2>

<br />
<br />

@using (Html.BeginForm("Ekle", "Kitap", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.Ad, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Adet, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Tur, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.DropDownListFor(x => x.TurId, ViewBag.Turler as SelectList, "Tür Seçiniz", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Yazar, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Yazar, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Fiyat, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <a href="@Url.Action("Listele")" class="btn btn-default">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}
