@model KitapciApp.EntityLayer.Kullanıcı
@{
    ViewBag.Title = "Kullanıcı Kaydı";
}

<h2>Kullanıcı Kaydı</h2>


<br />
<br />

@using (Html.BeginForm("Ekle", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.EPosta, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.EPosta, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Ad, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Soyad, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Parola, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Parola, new { @class = "form-control" })
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <a href="@Url.Action("HomeView","Home")" class="btn btn-default">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}
